USE [master]
GO
/****** Object:  Database [Библиотека]    Script Date: 19.03.2025 20:11:44 ******/
CREATE DATABASE [Библиотека]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Библиотека', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Библиотека.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Библиотека_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Библиотека_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Библиотека].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Библиотека]
GO
/****** Object:  Table [dbo].[Библиотекарь]    Script Date: 19.03.2025 20:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Библиотекарь](
	[Номер] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](225) NULL,
	[Должность] [nvarchar](50) NULL,
	[Телефон] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[ИсторияРаботыСЧитателем] [int] NULL,
 CONSTRAINT [PK_Библиотекарь] PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ИсторияВыдачиКниг]    Script Date: 19.03.2025 20:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ИсторияВыдачиКниг](
	[Номер] [int] IDENTITY(1,1) NOT NULL,
	[НомерЧитателя] [int] NULL,
	[НомерКниги] [int] NULL,
	[ДатаВыдачи] [date] NULL,
	[ДатаВозврата] [date] NULL,
 CONSTRAINT [PK_ИсторияВыдачиКниг] PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Книга]    Script Date: 19.03.2025 20:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Книга](
	[Номер] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](225) NULL,
	[Автор] [nvarchar](225) NULL,
	[ГодИздания] [int] NULL,
	[ТипКниги] [nvarchar](225) NULL,
	[КоличествоЭкземпляров] [int] NULL,
 CONSTRAINT [PK_Книга] PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Фонд]    Script Date: 19.03.2025 20:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Фонд](
	[Номер] [int] IDENTITY(1,1) NOT NULL,
	[НомерКниги] [int] NULL,
	[Состояние] [nvarchar](100) NULL,
	[КоличествоЭкземпляров] [int] NULL,
	[МестоХранения] [nvarchar](100) NULL,
 CONSTRAINT [PK_Фонд] PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Читатель]    Script Date: 19.03.2025 20:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Читатель](
	[Номер] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](max) NULL,
	[НомерЧитательскогоБилета] [int] NULL,
	[Адрес] [nvarchar](max) NULL,
	[Телефон] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
 CONSTRAINT [PK_Читатель] PRIMARY KEY CLUSTERED 
(
	[Номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Штраф]    Script Date: 19.03.2025 20:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Штраф](
	[Номре] [int] IDENTITY(1,1) NOT NULL,
	[НомерЧитателя] [int] NULL,
	[НомерКниги] [int] NULL,
	[Дни] [int] NULL,
	[Сумма] [int] NULL,
 CONSTRAINT [PK_Штраф] PRIMARY KEY CLUSTERED 
(
	[Номре] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Библиотекарь] ON 

INSERT [dbo].[Библиотекарь] ([Номер], [ФИО], [Должность], [Телефон], [Email], [ИсторияРаботыСЧитателем]) VALUES (1, N'Смирнова Ольга Владимировна', N'Главный библиотекарь', N'+7 999 111 22 33', N'smirnova@lib.ru', NULL)
INSERT [dbo].[Библиотекарь] ([Номер], [ФИО], [Должность], [Телефон], [Email], [ИсторияРаботыСЧитателем]) VALUES (2, N'Кузнецов Андрей Иванович', N'Библиотекарь', N'+7 999 222 33 44', N'kuznetsov@lib.ru', NULL)
INSERT [dbo].[Библиотекарь] ([Номер], [ФИО], [Должность], [Телефон], [Email], [ИсторияРаботыСЧитателем]) VALUES (3, N'Васильева Елена Петровна', N'Библиотекарь', N'+7 999 333 44 55', N'vasileva@lib.ru', NULL)
SET IDENTITY_INSERT [dbo].[Библиотекарь] OFF
GO
SET IDENTITY_INSERT [dbo].[ИсторияВыдачиКниг] ON 

INSERT [dbo].[ИсторияВыдачиКниг] ([Номер], [НомерЧитателя], [НомерКниги], [ДатаВыдачи], [ДатаВозврата]) VALUES (1, 1, 1, CAST(N'2023-09-01' AS Date), CAST(N'2023-09-15' AS Date))
INSERT [dbo].[ИсторияВыдачиКниг] ([Номер], [НомерЧитателя], [НомерКниги], [ДатаВыдачи], [ДатаВозврата]) VALUES (2, 2, 2, CAST(N'2023-09-05' AS Date), CAST(N'2023-09-20' AS Date))
INSERT [dbo].[ИсторияВыдачиКниг] ([Номер], [НомерЧитателя], [НомерКниги], [ДатаВыдачи], [ДатаВозврата]) VALUES (3, 3, 3, CAST(N'2023-09-10' AS Date), CAST(N'2023-09-25' AS Date))
SET IDENTITY_INSERT [dbo].[ИсторияВыдачиКниг] OFF
GO
SET IDENTITY_INSERT [dbo].[Книга] ON 

INSERT [dbo].[Книга] ([Номер], [Наименование], [Автор], [ГодИздания], [ТипКниги], [КоличествоЭкземпляров]) VALUES (1, N'Война и мир', N'Лев Толстой', 1869, N'Художественная', 5)
INSERT [dbo].[Книга] ([Номер], [Наименование], [Автор], [ГодИздания], [ТипКниги], [КоличествоЭкземпляров]) VALUES (2, N'Мастер и Маргарита', N'Михаил Булгаков', 1967, N'Художественная', 3)
INSERT [dbo].[Книга] ([Номер], [Наименование], [Автор], [ГодИздания], [ТипКниги], [КоличествоЭкземпляров]) VALUES (3, N'Физика для вузов', N'Иван Иванов', 2020, N'Учебная', 10)
SET IDENTITY_INSERT [dbo].[Книга] OFF
GO
SET IDENTITY_INSERT [dbo].[Фонд] ON 

INSERT [dbo].[Фонд] ([Номер], [НомерКниги], [Состояние], [КоличествоЭкземпляров], [МестоХранения]) VALUES (1, 1, N'Хорошее', 100, N'Стеллаж 1')
INSERT [dbo].[Фонд] ([Номер], [НомерКниги], [Состояние], [КоличествоЭкземпляров], [МестоХранения]) VALUES (2, 2, N'Удовлетворительное', 100, N'Стеллаж 2')
INSERT [dbo].[Фонд] ([Номер], [НомерКниги], [Состояние], [КоличествоЭкземпляров], [МестоХранения]) VALUES (3, 3, N'Новое', 100, N'Стеллаж 3')
SET IDENTITY_INSERT [dbo].[Фонд] OFF
GO
SET IDENTITY_INSERT [dbo].[Читатель] ON 

INSERT [dbo].[Читатель] ([Номер], [ФИО], [НомерЧитательскогоБилета], [Адрес], [Телефон], [Email]) VALUES (1, N'Иванов Иван Иванович', 123456, N'ул. Ленина, 10', N'+7 999 123 45 67', N'ivanov@mail.ru')
INSERT [dbo].[Читатель] ([Номер], [ФИО], [НомерЧитательскогоБилета], [Адрес], [Телефон], [Email]) VALUES (2, N'Петров Петр Петрович', 654321, N'ул. Пушкина, 5', N'+7 999 765 43 21', N'petrov@mail.ru')
INSERT [dbo].[Читатель] ([Номер], [ФИО], [НомерЧитательскогоБилета], [Адрес], [Телефон], [Email]) VALUES (3, N'Сидорова Анна Сергеевна', 987654, N'пр. Мира,15', N'+7 999 555 44 33', N'sidorova@mail.ru')
SET IDENTITY_INSERT [dbo].[Читатель] OFF
GO
SET IDENTITY_INSERT [dbo].[Штраф] ON 

INSERT [dbo].[Штраф] ([Номре], [НомерЧитателя], [НомерКниги], [Дни], [Сумма]) VALUES (1, 1, 1, 5, 50)
INSERT [dbo].[Штраф] ([Номре], [НомерЧитателя], [НомерКниги], [Дни], [Сумма]) VALUES (2, 2, 2, 3, 15)
INSERT [dbo].[Штраф] ([Номре], [НомерЧитателя], [НомерКниги], [Дни], [Сумма]) VALUES (3, 3, 3, 7, 70)
SET IDENTITY_INSERT [dbo].[Штраф] OFF
GO
ALTER TABLE [dbo].[ИсторияВыдачиКниг]  WITH CHECK ADD  CONSTRAINT [FK_ИсторияВыдачиКниг_Книга] FOREIGN KEY([НомерКниги])
REFERENCES [dbo].[Книга] ([Номер])
GO
ALTER TABLE [dbo].[ИсторияВыдачиКниг] CHECK CONSTRAINT [FK_ИсторияВыдачиКниг_Книга]
GO
ALTER TABLE [dbo].[ИсторияВыдачиКниг]  WITH CHECK ADD  CONSTRAINT [FK_ИсторияВыдачиКниг_Читатель] FOREIGN KEY([НомерЧитателя])
REFERENCES [dbo].[Читатель] ([Номер])
GO
ALTER TABLE [dbo].[ИсторияВыдачиКниг] CHECK CONSTRAINT [FK_ИсторияВыдачиКниг_Читатель]
GO
ALTER TABLE [dbo].[Фонд]  WITH CHECK ADD  CONSTRAINT [FK_Фонд_Книга] FOREIGN KEY([НомерКниги])
REFERENCES [dbo].[Книга] ([Номер])
GO
ALTER TABLE [dbo].[Фонд] CHECK CONSTRAINT [FK_Фонд_Книга]
GO
ALTER TABLE [dbo].[Штраф]  WITH CHECK ADD  CONSTRAINT [FK_Штраф_Книга] FOREIGN KEY([НомерКниги])
REFERENCES [dbo].[Книга] ([Номер])
GO
ALTER TABLE [dbo].[Штраф] CHECK CONSTRAINT [FK_Штраф_Книга]
GO
ALTER TABLE [dbo].[Штраф]  WITH CHECK ADD  CONSTRAINT [FK_Штраф_Читатель] FOREIGN KEY([НомерЧитателя])
REFERENCES [dbo].[Читатель] ([Номер])
GO
ALTER TABLE [dbo].[Штраф] CHECK CONSTRAINT [FK_Штраф_Читатель]
GO
USE [master]
GO
